{% extends "base.html.twig" %}
{% block title %}Categorie{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}


{%block content%}
    <form method="POST">
        Entrer le type d'évenement  <br>
        <input type="text" name="libelle">
        <input type="submit" value="submit">
    </form>
     <p> <a href="/contact"> Retour </a></p>
{%endblock%}