{% extends "base.html.twig" %}
{% block title %}Evenement {% endblock %}
{% block head %}
    {{ parent() }}
    
{% endblock %}


{% block content %}
    <form method="POST" enctype="multipart/form-data">
    <label >Categorie</label>
    <select name="categorie">
        {% for resultat in resultats %}
            <option value="{{ resultat.id }}"> {{ resultat.libelle }}</option>
        {% endfor %}
    </select>

        <div>
            Entrer le titre de l'évenement  
            <input type="text" name="titre"> 
        </div>

        <div>
            Entrer le nombre Maximal de participant 
            <input type="number" name="participantMax">
        </div>

        <div>
            Entrer le prix 
            <input type="text" name="prix">
        </div>

            Entrer la date de début 
            <input type="date" name="dateDebut">
        </div>

        <div>
            Entrer la date de fin 
            <input type="date" name="dateFin">
        </div>

        <div>
            Entrer l'adresse  
            <input type="text" name="adresse">
        </div>

        <div>
            Entrer la description de l'évenement  
            <input type="text" name="description">
        </div>
        
        <div>
            Selectionnez le fichier  
            <input type="file" name="image">
        </div>

         <div>
           accroche 
            <input type="text" name="accroche">
        </div>

        <div>
            <input type="submit" value="submit">
        </div>
       
    </form>

    <p> <a href="/contact"> Retour </a></p>

       
{% endblock %}
