{% extends "base.html.twig" %}
{% block title %}Connexion{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content%}
    <div class="container py-5 h-100 mb-5">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" >
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Sign in</h3>

                        <form method="POST" >

                            <div class="form-outline mb-4">
                                <input type="text"  class="form-control form-control-lg" name="username" required />
                                <label class="form-label">username</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password"  class="form-control form-control-lg" name ="password"/>
                                <label class="form-label" >Password</label>
                            </div>

                            <button class="btn btn-primary btn-lg btn-block" type="submit" name="submit">Login</button>

                            <hr class="my-4">
                            <div class="text-center">
                                Pas encore inscrit? <a href="/register">ici</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}
