{% include 'global/header.html.twig' with {'title':'Login'} only %}
        <div class="container py-5 h-100 mt-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" >
                        <div class="bg-login">
                        <div class="card-body p-5 text-center">
                            <h3 class="mb-5">Connectez-vous</h3>
                            <form method="POST" action="/login">
                                <div class="form-outline mb-4">
                                    <input type="email"  name = "email" class="input-login form-control form-control-lg" placeholder="E-mail" required />
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="password" name = "password" class="input-login form-control form-control-lg" placeholder="Mot de Passe" required/>
                                </div>
                                <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                                <hr class="my-4">
                                <div class="text-norm text-center">
                                Pas encore inscrit? <a href="/register">ici</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% include 'global/footer.html.twig' %}