
  <footer>
      <div class="row">
          <div>
              <a href=""> Accueil</a> <br>
              <a href=""> Infos BDE</a> <br>
              <a href=""> Gestion User</a>
          </div>
          <div>
              <img src="/img/insta.png" style="width: 25 px; height: 25px">
              <img src="/img/facebook.png"style="width: 25 px; height: 25px">
          </div>
      </div>
  </footer>
  <script src="/js/main.js" type="text/javascript"></script>
</body>
</html>