  </body>
    <footer>
    </footer>
    <script src="https://kit.fontawesome.com/95aa5ef389.js" crossorigin="anonymous"></script>
    <script src="/js/main.js" type="text/javascript"></script>
</html>