/** Principal */
.fa-trash-can{
    color: red;
}
.space-button{
    margin-top: 200px !important;
}

.custom-file-label::after{
    content:"Parcourir" !important;
}

a:link{ 
 text-decoration:none; 
} 

#tableau input{
    border: none;
}
.button_icon{
    border: none;
    background-color: rgba(0, 0, 0, 0) ;
}
.button_icon:focus {
    outline: none;
    box-shadow: none;
  }

/************* BODY ***************************/
body{
    /* overflow: hidden; */
    margin: 0;
}

/************* HEADER ***************************/
/* header{
    background-position: center;
    background-size: cover;
    margin: 0%
} */
nav{
    background: #532851;
    width: auto;
    height: 90px;
    
    
}
nav .btn{
    background-color: #9B6A6C;
    width: 120px;
    color: #D9D5AB;
}

/************* FOOTER ***************************/
footer{
    height: auto;
    background-color: #532851;
    position:absolute;
    bottom:0;
    width:100%;
    padding-top:50px;
    margin: 0;
}

footer a{
    color: #D9D5AB;
}

footer img{
    width: 3%;
}
.row{
    display: flex;
    justify-content: space-between;
}


