<div class="col-md-3">
    <div class="card shadow-2-strong" >
        <div class="card-body p-5 text-center">
            <h3 class="mb-5">Sections</h3>
                <form method="POST" action="/Profile">
                <div class="form-group">
                 <input type="hidden" name="link" value="/section/create"/>
                    <input type="text" class="form-control mb-4" placeholder="Filière" name="filiere" id='input-categoriEvent'>
                    <input type="text" class="form-control" placeholder="Année" name="annee" id='input-categoriEvent'>
                </div>
                <div class="space-button">        
                    <button class="btn btn-primary btn-lg ">Créer</button>
                </div>
                </form>
        </div>
    </div>
</div>