<div class="col-5 col-md-8 col-lg-6 col-xl-5">
    <div class="card shadow-2-strong" >
        <div class="card-body p-6 text-center">
            <h3 class="mb-5">Entrer le type d'évenement</h3>
                <form method="POST" action="/Profile">
                <div class="form-group">
                    <input type="text" name="libelle">
                </div>               
                    <button class="btn btn-primary btn-lg " type="submit">Crée</button>
                </form>
        </div>
    </div>
</div>