{% include 'global/header.html.twig' with {'title': params.title} only %}
    

    <div class="container py-5 h-100 mb-5">
            <div class="row d-flex">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" >
                        <div class="card-body p-5 text-center">
                            <h3 class="mb-5">Profile</h3>
                            <form method="POST">
                                <div class="form-outline mb-4">
                                   <div class="input-group flex-nowrap">
                                        <span class="input-group-text" id="addon-wrapping">Nom</span>
                                        <input type="text" class="form-control" placeholder="Nom" value='{{params.user.nom}}' aria-label="Username" aria-describedby="addon-wrapping" disabled/>
                                    </div>
                                </div>
                                <div class="form-outline mb-4">
                                   <div class="input-group flex-nowrap">
                                        <span class="input-group-text" id="addon-wrapping">Prénom</span>
                                        <input type="text" class="form-control" placeholder="Prénom" value='{{params.user.prenom}}' aria-label="Username" aria-describedby="addon-wrapping" disabled/>
                                    </div>
                                </div>
                                <div class="form-outline mb-4">
                                   <div class="input-group flex-nowrap">
                                        <span class="input-group-text" id="addon-wrapping">Age</span>
                                        <input type="text" class="form-control" value='{{params.age}} an(s)' placeholder="Age" aria-label="Age" aria-describedby="addon-wrapping" disabled/>
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-lg btn-block">Modifier</button>
                                <button class="btn btn-primary btn-lg btn-block" type="submit" hidden>Valider</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>





      <form method="POST" action="/">
          <button class="btn btn-primary" type="submit" name="logout_btn"> Deconnexion </button>
      </form>

 {% include 'global/footer.html.twig' %}