{% include 'global/header.html.twig' with {'title': params.title} only %}
    

    <div class="container py-5 h-100 mb-5">
            <div class="row d-flex">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" >
                        <div class="card-body p-5 text-center">
                            <h3 class="mb-5">Profile</h3>
                            <form id='form-Profile' method="POST">
                                <div class="form-outline mb-4">
                                <input type="hidden" name ="id" id ="id-Profile" value='{{params.session.id}}'>
                                   <div class="input-group flex-nowrap">
                                        <span class="input-group-text" id="addon-wrapping">Nom</span>
                                        <input type="text" class="form-control" name = "nom" placeholder="Nom" id='nom-Profile' value='{{params.user.nom}}' aria-label="Username" aria-describedby="addon-wrapping" disabled/>
                                    </div>
                                </div>
                                <div class="form-outline mb-4">
                                   <div class="input-group flex-nowrap">
                                        <span class="input-group-text" id="addon-wrapping">Prénom</span>
                                        <input type="text" class="form-control" name="prenom" placeholder="Prénom" id='prenom-Profile' value='{{params.user.prenom}}' aria-label="Username" aria-describedby="addon-wrapping" disabled/>
                                    </div>
                                </div>
                                <div class="form-outline mb-4">
                                   <div class="input-group flex-nowrap">
                                        <span class="input-group-text" id="addon-wrapping">Age</span>
                                        <input type="text" class="form-control" placeholder="Age" id='age-Profile' value='{{params.age}} an(s)'  aria-label="Age" aria-describedby="addon-wrapping" disabled/>
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-lg btn-block" id='Edit-Profile'>Modifier</button>
                                <button class="btn btn-primary btn-lg btn-block" type="submit" id='Valide-Profile' hidden>Valider</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>





      <form method="POST" action="/">
          <button class="btn btn-primary" type="submit" name="logout_btn"> Deconnexion </button>
      </form>

 {% include 'global/footer.html.twig' %}