{% include 'global/header.html.twig' with {'title': params.title , 'session': params.session} only %}
        <div class="row mt-5"></div>
        <div class="row d-flex m-5 ">
                {% include 'user/componement/form/editProfil.html.twig' %}
            {% if params.session.idDroit < 3 %}
                {% include 'user/componement/gestionnaire/participation.html.twig' with {'participes':params.participe} %}
            {% endif %}
            {% if params.session.idDroit == 3 %}
                {% include 'user/componement/form/sectionForm.html.twig' %}
            {% endif %}
            {% if params.session.idDroit == 3 %}
                {% include 'user/componement/form/createCategory.html.twig' %}  
            {% endif %}  
            {% if params.session.idDroit != 2 %}  
                {% include 'user/componement/form/eventForm.html.twig' %}
            {% endif %}
        </div>
        
        <div class="row d-flex m-5">
         {% if params.session.idDroit != 2 %}
            {% include 'user/componement/gestionnaire/gestionEvent.html.twig' with {"evenements":params.events, "categories":params.categoryEvent} only %}  
        </div>
        {% endif %}
        {% if params.session.idDroit == 3 %}
        <div class="row d-flex m-5">
            {% include 'user/componement/gestionnaire/gestionSection.html.twig' with {"sections":params.sections} only %}
            {% include 'user/componement/gestionnaire/gestionCategorie.html.twig' with {"categories":params.categoryEvent} only %}   
        </div>
        <div class="row d-flex m-5"> 
            {% include 'user/componement/gestionnaire/gestionUser.html.twig' with {"users":params.users,"roles":params.droit,"sections":params.sections} only %}
        </div>
        {% endif %}
 {% include 'global/footer.html.twig' %}