{% include 'global/header.html.twig' with {'title': params.title} only %}
      
      <form method="POST" action="/">
          <button class="btn btn-primary" type="submit" name="logout_btn"> Deconnexion </button>
      </form>

 {% include 'global/footer.html.twig' %}