{% include 'global/header.html.twig' with {'title': params.title} only %}
        <div class="row d-flex m-5 ">       
        {% include 'user/componement/form/editProfil.html.twig' %}
        {% include 'user/componement/form/contactForm.html.twig' %}
        {% include 'user/componement/form/sectionForm.html.twig' %}
        {% include 'user/componement/gestionnaire/gestionCategorie.html.twig' with {"categories":params.categoryEvent} only %}
        </div>
        <div class="row d-flex m-5">
        {% include 'user/componement/form/createCategory.html.twig' %}
        {% include 'user/componement/form/eventForm.html.twig' %}
        
        </div>

        
        <div class="row d-flex m-5">
            {% include 'user/componement/gestionnaire/gestionEvent.html.twig' with {"evenements":params.events, "categories":params.categoryEvent} only %}  
        </div>
        <div class="row d-flex m-5">
            {% include 'user/componement/gestionnaire/gestionUser.html.twig' with {"users":params.users,"roles":params.droit} only %}
        </div>

        <div class="row d-flex m-5">
      <form method="POST" action="/">
          <button class="btn btn-primary" type="submit" name="logout_btn"> Deconnexion </button>
      </form>
        <div>
 {% include 'global/footer.html.twig' %}